@import '../base/_variables.scss';
@import '../base/_include-media.scss';


.widget_viaggio {
  height: 420px;
  position: relative;
  background: $c12_1;
  color:#fff;
  padding: 40px 20px;
  text-align: left;

  .title-1{
    text-align: center;
    .icoIndicazioni {
      width: 57px; // ie bug, specify both
      height: 57px;
      margin-right: 20px;
      vertical-align: middle;
    }
  }
  .trip_form{
      z-index: 0;
      _position: relative;
  }
  .trip_container{
    position: relative;
    z-index: 10;
    ul li{
      list-style-type: none;
    }
    .trip_input{
      width: 90%;
      border-bottom: 1px $c12_2 solid;
      margin-bottom: 30px;
      label{
        color: $c12_2;
        padding-left: 10px;
        font-size: 1.1em;
        font-weight: $fw2;
        text-align: right;
        width: 29px;
        display: inline-block;
      }
      input{
        background: $c12_1;
        border: 0;
        color: #fff;
        font-size: 1.1em;
        font-weight: $fw2;
        font-family: $SF;
        vertical-align: baseline;
        margin-left: 10px;
        &:focus { outline: none; }
      }

    }
    .trip_input.from label{
      padding-left: 5px;
      width: 35px;
    }
    .trip_input_switch{
      width: 22px;
      position: absolute;
      right: 0;
      top: 30%;
      cursor: pointer;
      fill: $c12_2;
      .no-touch &:hover{
        fill: #fff;
      }
    }
  }
  .trip_mode{
    padding-top:20px;
    z-index: 1;
    ul{
      text-align: center;
      margin-bottom: 20px;
    }
    ul li{
      list-style-type: none;
      display: inline-block;
      .no-touch &:hover{
        label span:after{
          color:#fff;
        }
      }
      .icoTripMode{
        width: 37px;
        height: 32px;
        margin: 0 10px;
        vertical-align: baseline;
        fill: $c12_4;
      }

      input[type="radio"] {
        display:none;
      }
      input[type="radio"] + label {
        text-indent: -9999px;
        font-size: 0;
        line-height: 0;
        cursor:pointer;
      }
      input[type="radio"]:checked + label svg{
        fill: #fff;
      }
      input[type="radio"]:hover + label svg{
        fill: $c12_2;
      }
    }

    .trip_button_container{
      text-align: center;
      .trip_button{
        border:0;
        color: #fff;
        cursor:pointer;
      }
      .trip_button:focus{
        border:1px solid $c12_2;
      }
    }
  }


}



.react-autosuggest__container {
  margin: 0;
  display: inline-block;
  position:relative;
  width: 80%;
}
@include media('screen', '>dim_60') {
  .react-autosuggest__container {
    width: 90%;
  }
}
.react-autosuggest__input {
padding-left: 0px;
width: 100%;
}
.react-autosuggest__suggestions-container {
  position:absolute;
  background-color: darken($c12_1, 8%);
}
.react-autosuggest__suggestions-list {
  padding: 0.3em 0.8em 0.2em 0em;
}

.react-autosuggest__suggestion {
  padding-left: 15px;
  cursor: pointer;
  overflow: hidden;
}

.react-autosuggest__suggestion--focused {
  background-color: lighten($c12_1, 3%);
}
