@import '../base/_include-media.scss';
@import '../base/_variables.scss';

$common-padding: 5px;
$animate-sec: 1.5s;

.audio-player {
	max-width: 180px;
  position:absolute;
  top:0;
  left:0;
  
}

.audio-button-panel {
	padding-top: 2px;
}

.audio-refresh-animate {
  -webkit-animation: rotating $animate-sec linear infinite;
  -moz-animation: rotating $animate-sec linear infinite;
  -ms-animation: rotating $animate-sec linear infinite;
  -o-animation: rotating $animate-sec linear infinite;
  animation: rotating $animate-sec linear infinite;
}

.audio-progress-container {
  position: absolute;
  left:70px;
  top:0px;
  width: 120px;
  height: 50px;
  display: none;
}
.audio-progress-container:before {
  display: block;
    content: '';
    position: absolute;
    top: 39px;
    left: 0px;
    right: 0px;
    height: 3px;
    background: #739dc6;
}
.audio-progress-container.visibile{
  display: block;
}

.audio-progress-container-short-width {
	width: 130px;
}

.audio-progress {
  
    position: absolute;
    top:32px;
    left: 75px;
    width: 12px;
    height: 12px;
    margin-left: -10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 3px #fff solid;
}
.audio-progress:hover {
  background-color: #40B391;
}
  

.audio-songs-list {
	float: left;
	margin-left: $common-padding;
}

.audio-song-item-not-selected {
	float: left;
	display: block;
	width: 14px;
	height: 1px;
}

.audio-song-item-label {
	padding-left: $common-padding;
}

.audio-volume-bar-container {
	float: left;
	padding-left: $common-padding;
	padding-top: 2px;

	.btn:focus {
		background-color: #fff;
		outline: none;
	}

	.audio-volume-bar {
		position: absolute;
		z-index: 1001;
		background: #ddd;
	}

	.audio-volume-bar-hide {
		display: none;
	}

	.audio-volume-percent-container {
  	border-top: 1px solid #aaa;
  	border-bottom: 1px solid #aaa;
		width: 34px;
		height: 100px;
		position: relative;
		cursor: pointer;
	}

	.audio-volume-min-max {
		width: 100%;
		height: 30px;
		text-align: center;
		cursor: pointer;
		span {
			top: 6px;
		}
	}

	.audio-volume-percent {
		width: 100%;
		bottom: 0;
		top: 50%;
		background: #666;
    position: absolute;
	}

}

.audio-desc-container {
	width: 100%;
	vertical-align: middle;
	padding-top: 3px;
}

.audio-time {
	margin-left: $common-padding;
}

.audio-name-label {
	max-width: 180px;
	height: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.area_player{
  padding: 0 30px;
  margin-bottom: 50px;
  //position:relative;
  //display: inline-block;
  
  .btn_link {
    
    position: absolute;
    top:0;
    right:20px;
  }
}
@include media('screen', '>dim_50') {
  .area_player{
    float: left;
  }
}

.audio-button{
  position: absolute;;
  width: 50px;
  height: 50px;
  top:0;
  left:0
}

.audio-button:before{
  box-sizing: border-box;
  display: inline-block !important;
    content: '';
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
    background: #40b391;
    border: 4px #fff solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.audio-button:hover:before{
  background: #56C3A3
}
.audio-button:after{
  background: url(../images/player_default.svg) no-repeat center;
  display: block;
  content: '';
  width: 30px;
  height: 27px;
  top: 22%;
  left: 20%;
  position: absolute;
}
.playing.audio-button:after{
  background: url(../images/player_pausa.svg) no-repeat center;
  top:30%;
  left:28%;
  width: 20px;
  height: 19px;
}
.paused.audio-button:after{
  background: url(../images/player_play.svg) no-repeat center;
  top:30%;
  left:33%;
  width: 20px;
  height: 19px;
}

