@import '../base/_variables.scss';


.page{
  text-align: left;
  min-height: 500px;
  
  .pageHeader{
    color: #fff;
    background-color: $c12_1;
    padding: 15px 35px;
  }
  .pageContent{
    h2{margin-top:15px; font-size: 1.2em}
    a{color: $c3;}
    p{  font-size: 1em;}
    padding: 35px;
    ul{    list-style: none; margin-top: 10px}
    
    .liv1 li {
       background: url(../images/list.gif) 0 4px no-repeat;
       padding-left: 14px;
       margin-bottom: 6px;
     }
    .liv2 li {
        background: url(../images/list-2.gif) 0 11px no-repeat;
        padding-left: 11px;
        padding-top: 5px;
      }
  
  /*Radio*/
  #radio {
    padding:10px;
    color:#000;
    float:left;
    width:698px;
    }
    
	.radio-content {padding:0 16px;}
	
	#radio p{
	  color:#555555;
	  font-size:1.1em;
	  margin:0 0 25px 0;
	  }
	  
	#radio .col{
	  float:left;
	  margin:0 30px 5px 0;
	  }
	  
	#radio .col3 {margin-right:0;}
	
	#radio .col1 {width:223px;}
	
	#radio .col2 {width:183px;}
	
	#radio .col3 {width:178px;}
	
	#radio li{
	  white-space:nowrap;
	  position:relative;
	  margin:0;
	  border-bottom:1px solid #eeeeee;
	  background:url(../images/ico-radio.gif) 0 13px no-repeat;
	  padding:15px 0 15px 23px;
	  }
	  
	#radio li.last {border-bottom:0;}
	
	#radio strong {
	  text-transform:uppercase;
	  color:#555555;
	  font-size:1.1em;
	  display:block;
	  margin:0 0 5px 0;
	  white-space:nowrap;
	  }
	  
	#radio a{
	  color:#0e8de7;
	  font-size:1em;
	  }
	  
	#radio a:hover {text-decoration:underline;}
	
	.link-radio {margin-right:5px;}    
  }
}
